*{box-sizing: border-box;

}

body{
  margin: 0;
  font-family: 'Helvetica Neue', Helvetica;
}

h1{
  font-weight: 200;
  font-size: 48px;
  text-align: center;
}

ul{
  margin: 0;
}

.more-info{
  text-align: center;
}

.more-info > *{
  display: inline-block;
  color: #fff;
  line-height: 50px;
  font-size: 30px;
  width: 200px;
  margin: 0 auto;
  text-align: center;
  text-decoration: none;
  padding: 10px;
}


.readme {
  background: rgba(0,0,255,.8);
}

  .readme:hover{
    background: rgba(52, 152, 219, .8);
  }


.api-link{
  background: rgba(255,0,0,.8);
}

.api-link:hover {
  background: rgba(226, 106, 106, 1.0);
}


#work-container{
  padding: 40px;
  position: relative;
  z-index: 2;
  max-width: 900px;
  margin: 0 auto;
  background: rgba(255,255,255,.9);

}

#stretch-bg{
  position: fixed;
  background: blue;
  height: 100vh;
  width: 100%;
  z-index: 1;
}

.horizontal, .vertical{
  position: absolute;
}

.outer{ 
background: #fff;}

.inner{
  background: red;
}

.horizontal{
  transform: translateY(-50%);
}

  .horizontal.outer{
    width: 100%;
    height: 20vh;
    top: 50%;
    z-index: 1;
  }

  .horizontal.inner{
    width: 100%;
    height: 10vh;
    top: 50%;
    z-index: 4;
  }


.vertical{
  transform: translateX(-50%);
}
  .vertical.outer{
    width: 20vh;
    height: 100%;
    left: 25%;
    z-index: 2;
  }

  .vertical.inner{
    width: 10vh;
    height: 100%;
    left: 25%;
    z-index: 3;
  }

.q-container {
  text-align: right;
  border-bottom: #34495E 4px solid;
  padding: 15px;
}
  
  .q-container h2,
  .q-container span{
    text-align: left;
  }

  .q-container h2 {
    padding-left: 50px;
    line-height: 1.44em;
  }

  .q-container span{
    height: 70px;
    line-height: 70px;
    width: 70px;
    font-size: 40px;
    display: block;
    text-align: center;
    color: #fff;
    background: rgba(255,0,0,.9);
  }

  .q-container h2{
    color: #3A539B;
  }

  .q-container .answer {
    display: inline-block;
    background: rgba(150,150,150,.8);
    text-align: center;
    padding: 0;
    font-family: monospace;
  }

    .q-container .answer.num{
      height: 70px;
      line-height: 70px;
      width: 200px;
      font-size: 40px;
    }
  
    .q-container .answer.list li:before{
      content: "- ";
      display: inline;
    }
    .q-container .answer.list{
      padding: 10px;
      text-align: left;
      height: 300px;
      width: 80%;
      font-size: 18px;
      list-style: none;
      line-height: 1.5em;
      overflow: scroll;
    }



